.title {
    font-size: 10vw; /* Default size for large screens */
    overflow-x: hidden;
}
.aboutUsTitle {
    font-size: 250px;
}
@media (max-width: 1536px) {
    .title {
        font-size: 10vw; /* Smaller size for medium screens */
    }
    .aboutUsTitle {
        font-size: 150px;
    }
}
@media (max-width: 1200px) {
    .title {
        font-size: 11vw; /* Smaller size for medium screens */
    }
    .aboutUsTitle {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 11vw; /* Smaller size for small screens */
    }
    .aboutUsTitle {
        font-size: 90px;
    }
}

